In [1]:
import pandas as pd

In [2]:
heart_df = pd.read_csv('Heart.csv', delimiter=',')
heart_condition_df = pd.read_csv('ConditionMapping.csv')

## Check the size

In [5]:
heart_df.shape, heart_condition_df.shape

((303, 17), (5, 2))

In [6]:
heart_df.head()

,Id,Name,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Prop,ConditionCode
0,1,John Smith,63,M,typical,145,233,1,2.0,150.0,0,2.3,3,0.0,fixed,0,sc4
1,2,Jaby Bolder,67,M,asymptomatic,160,286,0,2.0,NaN,1,1.5,2,3.0,normal,0,sc1
2,3,Sam Seagel,67,M,NaN,120,229,0,2.0,129.0,1,2.6,2,2.0,reversable,0,sc2
3,4,Sunny Shaw,37,M,nonanginal,130,250,0,0.0,187.0,0,3.5,3,0.0,normal,0,sc4
4,5,Gloria Truce,41,F,nontypical,130,204,0,2.0,172.0,0,1.4,1,0.0,normal,0,sc4

In [7]:
heart_condition_df.head()

  ConditionCode isHeartDisease
0           sc1            Yes
1           sc2            Yes
2           sc3            Yes
3           sc4             No
4           sc5             No

In [66]:
combined_heart_disease_dataframe = pd.merge(heart_df, heart_condition_df, how='left')

In [67]:
combined_heart_disease_dataframe.describe()

,Id,Age,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Prop
count,303.000000,303.000000,303.000000,303.000000,303.000000,297.000000,295.000000,303.000000,303.000000,303.000000,299.000000,303.0
mean,152.000000,54.438944,131.689769,246.693069,0.148515,0.969697,150.061017,0.326733,1.039604,1.600660,0.672241,0.0
std,87.612784,9.038662,17.599748,51.776918,0.356198,0.994456,22.698924,0.469794,1.161075,0.616226,0.937438,0.0
min,1.000000,29.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,0.0
25%,76.500000,48.000000,120.000000,211.000000,0.000000,0.000000,135.000000,0.000000,0.000000,1.000000,0.000000,0.0
50%,152.000000,56.000000,130.000000,241.000000,0.000000,0.000000,154.000000,0.000000,0.800000,2.000000,0.000000,0.0
75%,227.500000,61.000000,140.000000,275.000000,0.000000,2.000000,166.500000,1.000000,1.600000,2.000000,1.000000,0.0
max,303.000000,77.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,0.0

In [68]:
combined_heart_disease_dataframe.head()

,Id,Name,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Prop,ConditionCode,isHeartDisease
0,1,John Smith,63,M,typical,145,233,1,2.0,150.0,0,2.3,3,0.0,fixed,0,sc4,No
1,2,Jaby Bolder,67,M,asymptomatic,160,286,0,2.0,NaN,1,1.5,2,3.0,normal,0,sc1,Yes
2,3,Sam Seagel,67,M,NaN,120,229,0,2.0,129.0,1,2.6,2,2.0,reversable,0,sc2,Yes
3,4,Sunny Shaw,37,M,nonanginal,130,250,0,0.0,187.0,0,3.5,3,0.0,normal,0,sc4,No
4,5,Gloria Truce,41,F,nontypical,130,204,0,2.0,172.0,0,1.4,1,0.0,normal,0,sc4,No

In [69]:
attributes_columns = set(combined_heart_disease_dataframe.columns) - set(['ConditionCode', 'Name'])

In [70]:
attributes_columns

{'Age',
 'Ca',
 'ChestPain',
 'Chol',
 'ExAng',
 'Fbs',
 'Id',
 'MaxHR',
 'Oldpeak',
 'Prop',
 'RestBP',
 'RestECG',
 'Sex',
 'Slope',
 'Thal',
 'isHeartDisease'}

In [71]:
combined_heart_disease_dataframe.isnull()

,Id,Name,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Prop,ConditionCode,isHeartDisease
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False

In [72]:
nan_values = combined_heart_disease_dataframe.isna()
nan_columns = nan_values.any()

columns_with_nan = combined_heart_disease_dataframe.columns[nan_columns].tolist()
columns_with_nan

categorical_columns_with_nan = ['ChestPain', 'RestECG', 'Ca', 'Thal']
numerical_columns_with_nan = ['MaxHR']

In [73]:
combined_heart_disease_dataframe[columns_with_nan]

        ChestPain  RestECG  MaxHR   Ca        Thal
0         typical      2.0  150.0  0.0       fixed
1    asymptomatic      2.0    NaN  3.0      normal
2             NaN      2.0  129.0  2.0  reversable
3      nonanginal      0.0  187.0  0.0      normal
4      nontypical      2.0  172.0  0.0      normal
..            ...      ...    ...  ...         ...
298       typical      0.0  132.0  0.0  reversable
299  asymptomatic      0.0  141.0  2.0  reversable
300  asymptomatic      0.0  115.0  1.0  reversable
301    nontypical      2.0  174.0  1.0      normal
302    nonanginal      0.0  173.0  NaN      normal

[303 rows x 5 columns]

In [74]:
def find_number_of_nulls(column, dataframe):

    return sum([1 for each in list(dataframe[column].isnull()) if each is True])

In [ ]:
## Before imputting

In [75]:
# print(f"Column --> {}, nulls: {find_number_of_nulls('', combined_heart_disease_dataframe})

print(find_number_of_nulls('ChestPain', combined_heart_disease_dataframe))
print(find_number_of_nulls('RestECG', combined_heart_disease_dataframe))
print(find_number_of_nulls('Ca', combined_heart_disease_dataframe))
print(find_number_of_nulls('Thal', combined_heart_disease_dataframe))

6
6
4
2

In [ ]:
# After imputiing

In [76]:
combined_heart_disease_dataframe[categorical_columns_with_nan] = combined_heart_disease_dataframe[categorical_columns_with_nan].apply(lambda x:x.fillna(x.mode().iloc[0]))

In [77]:
combined_heart_disease_dataframe['Thal']

0           fixed
1          normal
2      reversable
3          normal
4          normal
          ...
298    reversable
299    reversable
300    reversable
301        normal
302        normal
Name: Thal, Length: 303, dtype: object

In [78]:
print(find_number_of_nulls('ChestPain', combined_heart_disease_dataframe))
print(find_number_of_nulls('RestECG', combined_heart_disease_dataframe))
print(find_number_of_nulls('Ca', combined_heart_disease_dataframe))
print(find_number_of_nulls('Thal', combined_heart_disease_dataframe))

0
0
0
0

In [79]:
combined_heart_disease_dataframe[numerical_columns_with_nan] = combined_heart_disease_dataframe[numerical_columns_with_nan].fillna(combined_heart_disease_dataframe[numerical_columns_with_nan].mean())

In [80]:
print(find_number_of_nulls(numerical_columns_with_nan, combined_heart_disease_dataframe))

0

In [81]:
final_attributes_dataframe = combined_heart_disease_dataframe[attributes_columns]

In [82]:
final_attributes_dataframe

,Id,Slope,Ca,RestBP,Thal,Prop,Fbs,Age,isHeartDisease,RestECG,MaxHR,ChestPain,Sex,Chol,Oldpeak,ExAng
0,1,3,0.0,145,fixed,0,1,63,No,2.0,150.000000,typical,M,233,2.3,0
1,2,2,3.0,160,normal,0,0,67,Yes,2.0,150.061017,asymptomatic,M,286,1.5,1
2,3,2,2.0,120,reversable,0,0,67,Yes,2.0,129.000000,asymptomatic,M,229,2.6,1
3,4,3,0.0,130,normal,0,0,37,No,0.0,187.000000,nonanginal,M,250,3.5,0
4,5,1,0.0,130,normal,0,0,41,No,2.0,172.000000,nontypical,F,204,1.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,2,0.0,110,reversable,0,0,45,Yes,0.0,132.000000,typical,M,264,1.2,0
299,300,2,2.0,144,reversable,0,1,68,Yes,0.0,141.000000,asymptomatic,M,193,3.4,0
300,301,2,1.0,130,reversable,0,0,57,Yes,0.0,115.000000,asymptomatic,M,131,1.2,1
301,302,2,1.0,130,normal,0,0,57,Yes,2.0,174.000000,nontypical,F,236,0.0,0
302,303,1,0.0,138,normal,0,0,38,No,0.0,173.000000,nonanginal,M,175,0.0,0

In [83]:
feature_colums = list(set(final_attributes_dataframe.columns) - set(['Id', 'isHeartDisease']))
label_column = ['isHeartDisease']

In [ ]:
df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)

In [109]:
feature_dataframe = final_attributes_dataframe[feature_colums]
label_dataframe = final_attributes_dataframe[label_column]
categorical_columns = ['Thal', 'ChestPain', 'Sex']

In [ ]:
for each_col in categorical_columns:
    feature_dataframe[each_col] = pd.Categorical(feature_dataframe[each_col])
    feature_dataframe[each_col] = feature_dataframe[each_col].cat.codes

In [111]:
feature_dataframe

,Slope,Ca,Thal,RestBP,Prop,Fbs,Age,RestECG,MaxHR,ChestPain,Sex,Chol,Oldpeak,ExAng
0,3,0.0,0,145,0,1,63,2.0,150.000000,3,1,233,2.3,0
1,2,3.0,1,160,0,0,67,2.0,150.061017,0,1,286,1.5,1
2,2,2.0,2,120,0,0,67,2.0,129.000000,0,1,229,2.6,1
3,3,0.0,1,130,0,0,37,0.0,187.000000,1,1,250,3.5,0
4,1,0.0,1,130,0,0,41,2.0,172.000000,2,0,204,1.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,2,0.0,2,110,0,0,45,0.0,132.000000,3,1,264,1.2,0
299,2,2.0,2,144,0,1,68,0.0,141.000000,0,1,193,3.4,0
300,2,1.0,2,130,0,0,57,0.0,115.000000,0,1,131,1.2,1
301,2,1.0,1,130,0,0,57,2.0,174.000000,2,0,236,0.0,0
302,1,0.0,1,138,0,0,38,0.0,173.000000,1,1,175,0.0,0

In [121]:
label_dataframe['isHeartDisease'].unique()

array(['No', 'Yes'], dtype=object)

In [122]:
label_dataframe['isHeartDisease'] = pd.Categorical(label_dataframe['isHeartDisease'])
label_dataframe['isHeartDisease'] = label_dataframe['isHeartDisease'].cat.codes

# label_dataframe = label_dataframe.apply(lambda x: 1 if x == 'Yes' else 0)

/Users/HarshP2/mask_selector/dsail-mask-sizer/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/HarshP2/mask_selector/dsail-mask-sizer/venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [124]:
label_dataframe

     isHeartDisease
0                 0
1                 1
2                 1
3                 0
4                 0
..              ...
298               1
299               1
300               1
301               1
302               0

[303 rows x 1 columns]

In [125]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 100,
                           n_jobs = -1,
                           oob_score = True,
                           bootstrap = True,
                           random_state = 42)

rf.fit(feature_dataframe, label_dataframe)

/Users/HarshP2/mask_selector/dsail-mask-sizer/venv/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

RandomForestRegressor(n_jobs=-1, oob_score=True, random_state=42)

In [59]:
# !pip install eli5

In [126]:
import eli5
from eli5.sklearn import PermutationImportance

perm = PermutationImportance(rf, cv = None, refit = False, n_iter = 50).fit(feature_dataframe, label_dataframe)

In [131]:
feature_dataframe.columns

Index(['Slope', 'Ca', 'Thal', 'RestBP', 'Prop', 'Fbs', 'Age', 'RestECG',
       'MaxHR', 'ChestPain', 'Sex', 'Chol', 'Oldpeak', 'ExAng'],
      dtype='object')

In [130]:
list(perm.feature_importances_)

array([0.04850145, 0.27445229, 0.1712655 , 0.08305409, 0.        ,
       0.00702565, 0.09033329, 0.01288335, 0.08477189, 0.25559363,
       0.04913765, 0.08992156, 0.17419791, 0.04152748])

In [132]:
sorted(zip(feature_dataframe.columns, perm.feature_importances_),reverse=True)

[('Thal', 0.17126549973679595),
 ('Slope', 0.048501452974205994),
 ('Sex', 0.049137651956483584),
 ('RestECG', 0.012883348394455162),
 ('RestBP', 0.08305408641866995),
 ('Prop', 0.0),
 ('Oldpeak', 0.17419791130022805),
 ('MaxHR', 0.08477189278820844),
 ('Fbs', 0.007025649675381647),
 ('ExAng', 0.04152748183891911),
 ('Chol', 0.08992156360765044),
 ('ChestPain', 0.25559363230391285),
 ('Ca', 0.27445228531321275),
 ('Age', 0.09033329057729421)]

In [133]:
# def return_top_important_features(columns, importances, k=3):
    
#     feature_importance = []
#     for col, importance in zip(columns, importances):

In [144]:
categorical_columns = list(set(feature_dataframe.columns) - set(['Age', 'MaxHR', 'Oldpeak', 'Chol', 'RestBP', 'Slope']))

In [143]:
categorical_columns

Index(['Slope', 'Ca', 'Thal', 'RestBP', 'Prop', 'Fbs', 'Age', 'RestECG',
       'MaxHR', 'ChestPain', 'Sex', 'Chol', 'Oldpeak', 'ExAng'],
      dtype='object')

In [148]:
categorical_dfs = []
for each in categorical_columns:
    
    one_hot_df = pd.get_dummies(feature_dataframe[each], prefix=each)
    categorical_dfs.append(one_hot_df)

In [151]:
categorical_df = pd.concat(categorical_dfs, ignore_index=True, sort=False, )

In [134]:
from sklearn.model_selection import train_test_split

In [135]:
features_train, features_test, labels_train, labels_test = train_test_split(feature_dataframe, label_dataframe, test_size=0.2, random_state=42)

In [136]:
features_train.shape, features_test.shape

((242, 14), (61, 14))